<!--
    Author: Cesar Escalona
    SDEV 328 Full Stack Web Dev
    Dating part 3
-->

<include href="views/header.html"/>

<div class="container bg-white text-left border border-light">
    <div class="row">
        <div class="col-sm">
            <br>
            <h1><strong>Interests</strong></h1>
            <hr>
            <form action="#" method="post" class="form">
                <!-- Starting Indoor interests -->
                <h4><strong>In-door Interests</strong></h4>
                <div class="container">
                    <div class="row">
                        <!-- Repeats columns with 2 interests per col -->
                        <repeat group="{{ @indoorInterests  }}" value="{{ @indoor }}" counter="{{ @ctr }}">
                            <check if="{{ @ctr%2}}">
                                <true>
                                    <div class="col">
                                        <label><input class="form-check form-check-inline"
                                                      type="checkbox" value="{{ @indoor }}"
                                                      name="iInterests[]"
                                            <check if="{{ in_array(@indoor, @inDoorInterests) }}">
                                            </check>
                                            > {{ ucfirst(@indoor) }} </label><br>
                                </true>
                                <false>
                                    <label><input class="form-check form-check-inline"
                                                  type="checkbox" value="{{ @indoor }}"
                                                  name="iInterests[]"
                                        <check if="{{ in_array(@indoor, @inDoorInterests) }}">
                                        </check>
                                        > {{ ucfirst(@indoor) }} </label>
                                </false>
                                <!-- This div underneath needs to be here because 1 col contains 2 checkboxes -->
                    </div>
                    </check>
                    </repeat>
                    <!-- Emd of repeat -->
                </div>
                <check if="{{ isset(@errors['inDoorInterests']) }}">
                    <!-- add styles -->
                    <span class="err">{{ @errors['inDoorInterests'] }}</span>
                </check>
        </div>
        <br>
        <!-- End of Indoor interests-->

        <!-- Starting Out door interests -->
        <h4><strong>Out-door Interests</strong></h4>
        <div class="container">
            <div class="row">
                <!-- Repeats columns with 2 interests per col -->
                <repeat group="{{ @outdoorInterests  }}" value="{{ @outdoor }}" counter="{{ @ctrr }}">
                    <check if="{{ @ctrr%2}}">
                        <true>
                            <div class="col">
                                <label><input class="form-check form-check-inline"
                                              type="checkbox" value="{{ @outdoor }}"
                                              name="oInterests[]"
                                    <check if="{{ in_array(@outdoor, @outDoorInterests) }}">
                                    </check>
                                    > {{ ucfirst(@outdoor) }} </label><br>
                        </true>
                        <false>
                            <label><input class="form-check form-check-inline"
                                          type="checkbox" value="{{ @outdoor }}"
                                          name="oInterests[]"
                                <check if="{{ in_array(@outdoor, @outDoorInterests) }}">
                                </check>
                                > {{ ucfirst(@outdoor) }} </label>
                        </false>
                        <!-- This div underneath needs to be here because 1 col contains 2 checkboxes -->
            </div>
            </check>
            </repeat>
            <!-- Emd of repeat -->
        </div>
        <check if="{{ isset(@errors['outDoorInterests']) }}">
            <!-- add styles -->
            <span class="err">{{ @errors['outDoorInterests'] }}</span>
        </check>
    </div>
    <!-- End of Out door interests-->

    <div class="text-right">
        <input class="btn btn-primary"
               type="submit" value="Next >">
        <br> <br>
    </div> <!-- End of button -->
    </form> <!-- End of Form -->
</div>
</div>
</div>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>

</body>
</html>