<!--
    Author: Cesar Escalona
    SDEV 328 Full Stack Web Dev
    Dating part 2
-->

<include href="views/header.html"/>

<div class="container bg-white text-left border border-light">
    <div class="row">
        <div class="col-sm">
            <br>
            <h1><strong>Personal Information</strong></h1><hr>

            <form action="#" method="post" class="form">

                    <div class="col-md-8">
                        <label><strong>First Name</strong></label>
                    <input class="form-control" type="text" name="fname" id="fname"
                           value="{{ @userName }}">
                        <check if="{{ isset(@errors['name']) }}">
                            <!-- add styles -->
                            <span class="err">{{ @errors['name'] }}</span>
                        </check>
                        <br>
                 <!-- End of First Name -->

                        <label><strong>Last Name</strong></label>
                        <input class="form-control" type="text" name="lname" id="lname"
                               value="{{ @userLName }}">
                        <check if="{{ isset(@errors['lName']) }}">
                            <!-- add styles -->
                            <span class="err">{{ @errors['lName'] }}</span>
                        </check>
                        <br>
                 <!-- End of Last Name -->

                        <label><strong>Age</strong></label>
                        <input class="form-control" type="text" name="age" id="age"
                        value="{{ @Age }}">
                        <check if="{{ isset(@errors['Age']) }}">
                            <!-- add styles -->
                            <span class="err">{{ @errors['Age'] }}</span>
                        </check>
                        <br>
                <!-- End of Age -->

                        <p><strong>Gender</strong></p>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input"
                                       name="method" value="Male" checked="checked">Male
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input"
                                       name="method" value="Female">Female
                            </label>
                        </div><br><br>
                <!-- End of Gender radio buttons -->

                        <label for="phoneNumber"><strong>Phone Number</strong></label>
                        <input class="form-control" type="text" name="phoneNumber" id="phoneNumber">
                 <!-- End of Phone Number -->
                    </div>

                <div class="container"><br>
                        <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading"><strong>Note:</strong> All information entered
                            is protected by our <a href="#">privacy policy</a>.
                            Profile information can only be viewed by others with your permission.</div>
                    </div>
                        </div>
                </div><!-- End of Panel -->

                <div class="text-right">
                    <input class="btn btn-primary"
                           type="submit" value="Next >">
                    <br> <br>
                </div> <!-- End of button -->
            </form> <!-- End of Form -->
        </div>
    </div>
</div>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

</body>
</html>