/**
 * Styles Sheet
 * dating/styles/styles.css
 * Cesar Escalona
 * 06/02/2021
 *
 * This file will contain all styles for the dating project
 */

.font-italic {
    padding-left: 3em;
    padding-right: 3em;
}

.img-fluid.max-width{
    max-width: 100%;
    height: auto;
}

.left{
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 3em;
    text-align: left;
}

.med {
    width: 50%;
    height: 50%;
}

#padding {
    margin-right: 3em;
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}